/* Badging */
.badge {
    background-color: #1f1f1f;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: normal;
    padding: .4rem .8rem;
}

/* ATC Buttons */
.button,
.shopify-challenge__button,
.customer button,
button.shopify-payment-button__button--unbranded {
    padding: 1.4rem 3rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    color: #000;
    background-color: #efefef;
    font-size: 14px;
    letter-spacing: normal;
}

.button,
.shopify-challenge__button,
.customer button {
    padding: 1.4rem 3rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    color: white;
    background-color: #1d89ef;
    font-size: 14px;
    letter-spacing: normal;
}

/* Define the keyframes for the pulsing effect */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: .75;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: .75;
    }
}


.product__inventory svg {
    animation: pulse 1.8s infinite ease-in-out;
}

.product__description strong {
    font-size: 1.2rem !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    font-weight: 600 !important;
    letter-spacing: normal !important;
    font-family: Inter, sans-serif !important;
}

.product__description li {
    font-size: 1.2rem !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    letter-spacing: normal !important;
    font-family: Inter, sans-serif !important;
    list-style-type: '•';
}

.product__description li>* {
    display: inline;
}

.product__description ul {
    padding-left: 0 !important;
}

.product__description {
    font-size: 14px;
}

.product__description h4 {
    margin: 0 !important;
}

.product__description strong {
    font-weight: 600 !important;
}

.product__description p {
    font-size: 12px;
}

.no-header-content~.collapsible-content__grid .accordion {
    margin-top: 0;
}

.field__input~.field__label,
.customer .field input~label {
    font-size: 1.4rem;
    font-weight: 500;
    top: calc(1.2rem + var(--inputs-border-width));
    color: rgb(var(--color-foreground));
}

.accordion__title {
    font-size: 1.6rem;
    font-weight: 600;
}

.rich-text__blocks {
    max-width: 100% !important;
}

body {
    line-height: 1.4;
    color: rgb(var(--color-foreground)) !important;
}

@media screen and (max-width: 749px) {

    .banner--mobile-bottom:not(.banner--stacked) .banner__box.color-background-1 {
        padding-bottom: 0;
    }
}